/* SharePoint 2013 On-premises */
<style type="text/css">
  /* Can be combined in more specific selector */
  h3.ms-standardheader { text-align: right; padding-right: 10px; }
  /* Must apply both class selectors to override same selector in corev15.css */
  .ms-formlabel h3.ms-standardheader { font-weight:bold; }
  .ms-formlabel h3.ms-standardheader:after { content : ":"; }  
</style>